<?xml version="1.0" encoding="utf-8"?>
<appSettings>
  <!--数据库类型-->
  <add key="DbProviderName" value="MySql" />
  <!--缓存配置 Begin-->
  <!--设置全局缓存时间 2*60*60=7200秒-->
  <add key="CacheExpireTime_Global" value="7200" />
  <!--设置登录缓存时间 24*60*60=86400秒-->
  <add key="CacheExpireTime_Global_Account" value="86400" />
  <!--设置Redis的数据库id-->
  <!--跟养老云 的 Redis 缓存库 分开-->
  <add key="UseRedis" value="false" />
  <add key="Abp.Redis.Cache.DatabaseId" value="1" />
  <!--缓存配置 End-->
</appSettings>
