<?xml version="1.0" encoding="utf-8"?>
<connectionStrings>
  <!-- MySql + MySql -->
  <add name="Default" providerName="MySql.Data.MySqlClient" connectionString="Data Source=10.32.68.25;port=3306;Initial Catalog=hisbs_20170817;user id=root;password=hk@zaqwsx;AutoEnlist=false;" />
  <add name="HangfireConnection" providerName="MySql.Data.MySqlClient" connectionString="Data Source=10.32.68.25;port=3306;Initial Catalog=test_Hangfire;user id=root;password=hk@zaqwsx;AutoEnlist=false;" />
  <!--设置Redis链接地址-->
  <add name="Abp.Redis.Cache" connectionString="10.32.68.9:6379,password=root" />
</connectionStrings>
